body {
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    text-align: center; /* Căn giữa văn bản trong main1 */
    width: 55%; /* Thiết lập chiều rộng của main1 là 55% */
    height: 55vh; /* Thiết lập chiều cao của main1 là 55% chiều cao của viewport */
    margin: 0 auto; /* Canh giữa main1 trong container */
}

.headline, .para1, .info {
    margin: 25px;
}

.para1 {
    color: rgb(195, 195, 195);
}

.email-input {
    background-color: whitesmoke;
    width: 250px;
    height: 35px;
    padding: 9px 20px;
    border: 1px solid #ccc;
    font-size: small;
    border-radius: 5px;
}

.email-input:hover {
    background-color: rgba(226, 226, 226, 0.886);
}

.email-input::placeholder {
    font-size: 14px; 
    font-weight: bold; 
    color: #999;
}


.button-sup {
    color: rgba(249, 249, 249, 0.973);
    margin-left: 10px;
    padding: 15px 45px;
    background-color: rgb(106, 238, 255);
    border-radius: 30px;
}

.button-sup:hover {
    background-color: rgb(85, 224, 242);;
}

.main2 {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    text-align: center; /* Căn giữa văn bản trong main1 */
    background-color: rgba(34, 49, 64, 0.998);
    color: white;
    width: 100%;
}

.items {
    width: 400px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(249, 249, 249, 0.973);
}

.items1list, .items2list {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.para2 {
    font-size: smaller;
    font-weight: bold;
    width: 250px;

}

.img {
    width: 400px;
    margin: 60px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 150px;
    color: rgba(249, 249, 249, 0.973);
}

.local-text, .number, .facebook, .in {
    margin-left: 20px;
}
i {
    font-size: 30px;
}

.info, .main2, .itemslist, 
 .social, .local, .phone {
    display: flex;
}